{% extends 'store/base.html' %}
{% block content %}

<h3 class="text-center">Mentions légales</h3>
<h4 class="text-center">En vigueur au 01/11/2019</h4>
<p><br><br></p>
<p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans
    l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site lacoopLamballaise
     les présentes mentions légales.
La connexion et la navigation sur le site (indiquer le nom du site) par l’Utilisateur implique acceptation intégrale
    et sans réserve des présentes mentions légales.
Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</p>

<p><br><br></p>
<h3>ARTICLE 1 : L’éditeur</h3>
<p><br></p>
<p>L’édition et la direction de la publication du site lacoopLamballaise est assurée par yone Assouvie,
    domiciliée Lamballe 22400 France, et l'adresse e-mail studo.dev@gmail.com.
 
La personne est assujetie au répertoire des métiers avec le numéro de TVA Freelancer</p>
<p><br><br></p>

<h3>ARTICLE 2 : L’hébergeur</h3>
<p><br></p>
<p>L'hébergeur du site lacoopLamballaise est la Société Scaleway, dont le siège social est situé au 11bis Rue Roquépine,
    75008 Paris , avec le numéro de téléphone : +33 1 84 13 00 50.</p>
<p><br><br></p>
<h3>ARTICLE 3 : Accès au site</h3>
<p><br></p>
<p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non
    et pouvant découlant d’une nécessité de maintenance.
En cas de modification, interruption ou suspension des services le site lacoopLamballaise ne saurait être tenu
    responsable.</p>
<p><br><br></p>
<h3>ARTICLE 4 : Collecte des données</h3>
<p><br></p>
<p>Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne
    collecte aucune donnée concernant les utilisateurs.</p>
<p><br><br></p>
<h3>ARTICLE 5 : Cookies</h3>
<p><br></p>
<p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement
    sur son logiciel de navigation.
En naviguant sur le site, il les accepte.
Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des informations relatives
    à la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce cookie par l’intermédiaire
    des paramètres figurant au sein de son logiciel de navigation.</p>
<p><br><br></p>
<h3>ARTICLE 6 : Propriété intellectuelle</h3>
<p><br></p>
<p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site
    lacoopLamballaise, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et
    poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
<p><br><br></p>
<p>Réalisé sur https://www.legalplace.fr</p>

{% endblock %}